
    ﻿body
    {
    }
    header{
        background-color:lightgray;
        position:fixed;
        top:0;
        left:0;
        width:100%;
    }
footer {
    background-color: pink;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align:center;
}
    #brand{

        padding-left:1rem;
        color:floralwhite;
   
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
  
    }

    nav li {
        float: left;
    }
    #nav{
        float:right;

    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        
    }

        li a:hover {
            background-color: #111111;
        }
    #main{
        padding-top: 1rem;
    }